@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  body {
    @apply bg-neutral-950 text-white antialiased selection:bg-primary selection:text-white;
    font-feature-settings: "cv02", "cv03", "cv04";
  }
}

@keyframes spin-gradient {
  to {
    --gradient-angle: 360deg;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}